@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Barrio|Bowlby+One+SC|Kumar+One|Nixie+One');


body {
    background-image: url("../images/daisybags_hero.jpg");
    background-size: cover;
    color: white;
    font-family: Helvetica;
    line-height: 26px;

}

.logo {
	width: 650px;
	margin: .1em;
}

.padded-multiline {
	width: 49em;
	margin: auto;
	background: rgba(129,120,142,.95);
	text-align: center;
	border: 10px;
	border-color: white;
	padding: 5em;


}
h1  {
	font-family: 'Amatic SC', cursive;
	margin: .5em;
	font-size: 30px;
	font-weight: 300;
	background-color: rgb(85,57,114);
	padding: 10px;
	line-height: 18px;
	text-transform: uppercase;

}

p  {
	font-family: 'Nixie One', cursive;
	font-size: 20px;
	font-weight: 100;
	text-align: left;
	line-height: 1.5em;
	margin: 2em;

}

ul {
	font-family: 'Nixie One';
	text-align: left;
	line-height: 18px;
}