body {
    background-image: url("../images/daisybags_hero.jpg");
    background-size: cover;
    color: white;
    font-family: Helvetica;
    line-height: 26px;

}

.logo {
	width: 440px;
}

.padded-multiline {
	width: 49em;
	margin: auto;
	background: rgba(43,26,61,.8);
	text-align: center;
	padding: 2em;

}
h1  {
	font-family: "Courier New" ;
	font-size: 24px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;

}

p  {
	font-family: Geneva ;
	font-size: 20px;
	font-weight: 100;
	text-align: left;
	line-height: 22px;

}

ul {
	font-family: Geneva ; 
	text-align: left;
	line-height: 18px;
}